<md-card class="video-card" ng-if="vm.video">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{vm.video.title}}</span>
      <span class="md-subhead">{{vm.video.author}}</span>
    </md-card-title-text>
      <div class="md-media-lg card-media"></div>
    </md-card-title-media>
  </md-card-title>
  <md-card-content>
    <iframe class="video-card__player" ng-src="{{vm.video.url | trustedUrl}}" frameborder="0"></iframe>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <md-button>Favorite</md-button>
    <md-button>Delete</md-button>
  </md-card-actions>
</md-card>