<md-sidenav class="side-menu md-sidenav-left" md-component-id="left" md-is-locked-open="true" md-whiteframe="1">
    <md-subheader class="md-primary">Artists</md-subheader>
    <md-content>
        <md-list-item>
            <p>All</p>
            <md-checkbox ng-change="vm.toggleAll()" class="md-primary" ng-model="vm.allSelected"></md-checkbox>
        </md-list-item>
        <md-list>
            <md-list-item ng-repeat="artist in vm.artists">
                <p>{{artist.name}}</p>
                <md-checkbox ng-change="vm.toggleCheckbox(artist.name)" class="md-primary" ng-model="artist.selected"></md-checkbox>
            </md-list-item>
        </md-list>
        <div class="side-menu__search" layout="column">
            <md-input-container>
                <label class="" for="search">Filter videos</label>
                <input type="text" ng-change="vm.onSearchTextChange({text: vm.searchText})" id="search" name="search" ng-model="vm.searchText" />
            </md-input-container>
        </div>
    </md-content>
</md-sidenav>
