<div class="home" layout="row">
    <side-menu artists="vm.artists" on-select-artist="vm.selectArtist(name)" search-text="vm.searchText" on-search-text-change="vm.changeSearchText(text)">
    </side-menu>
    <video-list class="home__list" flex videos="vm.videos" on-video-click="vm.selectVideo(video)">
    </video-list>
    <video-card flex video="vm.selectedVideo"></video-card>
</div>
