@import '~angular-material/angular-material.min.css';
@import '~angular-material/layouts/angular-material.layouts.min.css';
@import '~angular-material/layouts/angular-material.layout-attributes.min.css';

body {
  width: 100%;
  max-width: 1024 px;
}

.app {
  &__preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, .3);
  }
}
