.side-menu {
    width: 200px;
    &__icon {
        background-color: white;
    }

    &__search {
      margin-left: 15px;
      margin-right: 15px;

      md-input-container {
        margin-bottom: 0;
        margin-top: 10px;
      }
    }
}
