<md-toolbar layout="row">
    <div class="md-toolbar-tools">
        <span class="md-headline">Videos</span>
    </div>
</md-toolbar>
<md-content flex>
    <md-list>
        <md-list-item class="md-3-line" ng-repeat="video in vm.videos" ng-click="vm.onVideoClick({video})">
            <div class="md-list-item-text" layout="column">
                <span class="md-title">{{video.title}}</span>
                <span class="md-subhead">{{video.author}}</span>
            </div>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
</md-content>
