<div class="app">
    <div class="app__preloader" ng-show="vm.isLoading">
        <md-progress-circular md-mode="indeterminate" md-diameter="50"></md-progress-circular>
    </div>
    <div ng-view></div>
</div>
